[Desktop Entry]
Version=1.0
Name=rustgrab
Exec=rustgrab
Icon=mail-send.svg
Type=Application
Comment=Screenshot Utility made in Rust
Terminal=false
Categories=GNOME;GTK;Network;
Keywords=Twitter;Mastodon;Imgur;Screenshot;
StartupNotify=true
StartupWMClass=rustgrab
Actions=Tweet;Toot;

[Desktop Action Tweet]
Exec=rustgrab tweet
Name=Tweet a message

[Desktop Action Toot]
Exec=rustgrab toot
Name=Toot a message